{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'todoapp/css/index.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="icon" type="image/png" href="{% static 'todoapp/images/cozyLogo.png' %}">
</head>
<body>
    <header class="navBar">
    <a href="{% url 'search_tv_shows' %}">
        <img class="logo" src="{% static 'todoapp/images/cozyLogo.png' %}" alt="Cozy Logo">
    </a>

    <form method="GET" action="{% url 'search_tv_shows' %}">
        <input type="text" name="query" placeholder="Search TV Shows..." />
        <button type="submit">Search</button>
    </form>
    </header>

    <!-- FOR APIS-->
    <div>
        {% if results %}
            <ul class="show-grid">
                {% for result in results %}
                    <li class="show-item">
                        {% if result.image %}
                            <div class="show-container">
                                <img class="showImg" src="{{ result.image }}" alt="{{ result.name }} Image">
                                <strong class="showTitle"><a href="{% url 'show_index' result.id %}">{{ result.name }}</a></strong>
                            </div>
                        {% endif %}
                        <p><strong></strong> {{ result.premiered }}</p>
                        <p>{{ result.summary|safe }}</p>

                        <ul class="episode-list">
                            {% for episode in result.episodes %}
                                {% if holiday in episode.summary|lower %}
                                    <li class="episode-item">
                                        <strong class="showTitle">{{ episode.name }}</strong>
                                        <p>{{ episode.summary|safe }}</p>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p></p>
        {% endif %}
    </div>

    <!-- Themed Shows -->
    {% if not query %}
        <div id="themed-shows">
            <h2 class="exploreTitle">Explore</h2>
            {% for category, shows in categories.items %}
                <h3 class="categoryTitle">{{ category }}</h3>
                <ul class="show-list">
                    {% for show in shows %}
                        <li class="show-item">
                            {% if show.image %}
                                <div class="show-container">
                                    <img class="showImg" src="{{ show.image }}" alt="{{ show.name }} Image">
                                    <strong class="showTitle"><a href="{% url 'show_index' show.id %}">{{ show.name }}</a></strong>
                                </div>
                            {% endif %}
                            <p><strong></strong> {{ show.premiered }}</p>
                            <p>{{ show.summary|safe }}</p>
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>
